<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztu.cloud.cloud.common.dao.mysql.FileMapper">
    <insert id="insertFile"
            parameterType="com.ztu.cloud.cloud.common.bean.mysql.File">
        insert into file (id, name, path, size, createTime, changeTime, type, status, quoteNumber)
        values (#{id}, #{name}, #{path}, #{size}, #{createTime}, #{changeTime}, #{type}, #{status}, #{quoteNumber})
    </insert>
    <delete id="deleteFileById"
            parameterType="String">
        delete
        from file
        where ID = #{id}
    </delete>
    <update id="updateFile"
            parameterType="com.ztu.cloud.cloud.common.bean.mysql.File">
        update file
        set
        <if test="name != null">
            name = #{name}
        </if>
        <if test="path != null">
            ,path = #{path}
        </if>
        <if test="size != -1">
            ,size = #{size}
        </if>
        <if test="createTime != -1">
            ,createTime = #{createTime}
        </if>
        <if test="changeTime != -1">
            ,changeTime = #{changeTime}
        </if>
        <if test="type != null">
            ,type = #{type}
        </if>
        <if test="status != -999">
            ,status = #{status}
        </if>
        <if test="quoteNumber != -1">
            ,quoteNumber = #{quoteNumber}
        </if>
        <choose>
            <when test="id != null">
                where id = #{id}
            </when>
            <otherwise>
                where id = -1
            </otherwise>
        </choose>
    </update>
    <select id="getFileById"
            parameterType="String"
            resultType="com.ztu.cloud.cloud.common.bean.mysql.File">
        select *
        from file
        where ID = #{id}
    </select>
    <!--    根据文件列表-->
    <select id="getFiles"
            parameterType="com.ztu.cloud.cloud.common.dto.condition.File"
            resultType="com.ztu.cloud.cloud.common.bean.mysql.File">
        select file.*,count(filereport.fileId) as reportNumber
        from file left join filereport on file.id = filereport.fileId
        where 1 = 1
        <if test="name != null">
            and name like concat('%',#{name},'%')
        </if>
        <if test="type != null">
            and type in ${type}
        </if>
        <if test="startSize != null">
            and size &gt;= #{startSize}
        </if>
        <if test="endSize != null">
            and size &lt;= #{endSize}
        </if>
        <if test="startTime != null">
            and createTime &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and createTime &lt;= #{endTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        GROUP BY file.id
    </select>
    <!--    获取文件数量-->
    <select id="getFileCount"
            resultType="long">
        select count(*)
        from file
    </select>
    <update id="fileQuoteNumberAdd">
        update file
        set
        quoteNumber = quoteNumber + #{num}
        <choose>
            <when test="id != null">
                where id = #{id}
            </when>
            <otherwise>
                where id = -1
            </otherwise>
        </choose>
    </update>
    <update id="fileQuoteNumberSub">
        update file
        set
        quoteNumber = quoteNumber - #{num}
        <choose>
            <when test="id != null">
                where id = #{id}
            </when>
            <otherwise>
                where id = -1
            </otherwise>
        </choose>
    </update>
</mapper>