<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztu.cloud.cloud.common.dao.mysql.ShareReportMapper">
    <insert id="insertShareReport"
            parameterType="com.ztu.cloud.cloud.common.bean.mysql.ShareReport"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into shareReport (userId, shareId, type, content)
        values (#{userId}, #{shareId}, #{type}, #{content})
    </insert>
    <select id="getShareReportListByFileId" parameterType="string"
            resultType="com.ztu.cloud.cloud.common.bean.mysql.ShareReport">
        select *
        from sharereport
        where shareId = #{shareId}
    </select>
</mapper>